
<div class="navbar">
  <nav class="nav-menu">
    <!-- MENU -->
    <ul>
      <li><a class="nav-menu-link" routerLink="/">Home</a></li>
      <li><a class="nav-menu-link" routerLink="/about-group-page">Group</a></li>
      <li><a class="nav-menu-link" routerLink="/surveys-page">Survey</a></li>
      <li><a class="nav-menu-link" routerLink="/about-aerie-page">About</a></li>
    </ul>
    <!-- DROPDOWN MENU -->
    <div>
      <ul>
        <li><img src="assets/images/def_profile.png">
        <ul id="navSubMenu">
          <li>
            <div class="sub-menu-user-info">
              <h3>Jared Singleton</h3>
              <hr>
            </div></li>
          <li>
            <mat-icon>account_box</mat-icon>
            <a class="nav-sub-menu-link" routerLink="/about-me-page">
              <p>Edit Profile</p></a></li>
          <li>
            <mat-icon>settings</mat-icon>
            <a class="nav-sub-menu-link" routerLink="/settings-page">
              <p>Settings</p></a></li>
          <li>
            <mat-icon>exit_to_app</mat-icon>
            <a class="nav-sub-menu-link" routerLink="/login-registration-page">
              <p>Logout</p></a></li>
        </ul></li>
      </ul>
    </div>
  </nav>
</div>




